@import "bootstrap";

nav {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-light;

  a:first-child {
    @extend .navbar-brand;
  }
}

form {
  .field {
    @extend .form-group;

    label {
    }

    input[type=file] {
      @extend .form-control-file;
    }

    input[type=text] {
      @extend .form-control;
    }
  }

  .actions {
    @extend .form-group;

    input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-hover;
  @extend .table-responsive;
}

section.text {
  img {
    float: left;
    margin-right: 10px;
  }

  pre {
    white-space: pre-wrap;
  }

  table {
    clear: both;
  }
}
